<div class="header">
    <a href="#default" class="logo">&#9745; ClickTik</a>
    <a class="active" href="#home" (click)="home()">Home</a>
    <div class="header-right">
        <div class="search-container">
            <form>
                <div class="form-group has-search">
                    <span class="fa fa-search form-control-feedback"></span>
                    <input type="text" class="form-control" placeholder="Search">
                    <i class="fa fa-shopping-cart"></i>
                </div>
            </form>
          </div>
    </div>
</div>